// Place all the styles related to the User controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user{
	padding:30px;
	margin:30px;
	color:green;
	border:4px solid #563D7c;
	width:300px;
	text-align:center;
	background-color:lightgreen;
	
}
.submit{
	background-color:#563D7c;
	color:white;
	border:1px solid red;
}

#div{
	color:red;
}