<h1>Listing Message</h1>
<% if @users %>
<table>

	<thead>
		<tr>
			<td>first_name</td>
			<td>last_name</td>
			<td>email</td>
			<td>Address</td>
		</tr>
	</thead>
	<tbody>
		<%users.each do|user|%>
		<tr>
			<td><%=user.first_name%></td>
			<td><%=user.last_name%></td>
			<td><%=user.email%></td>
			<td><%=user.Address%></td>
		</tr>
		<%end%>
	</tbody>
</table>
	<%end%>	