<div class ="user">
	<h1>Add a User</h1>
	<div id = "div">
		<%if @errors%>
			<%@errors.each do |error| %>
			<p class="alert-danger"><%=error%></p>
			<% end %>
		<%end%>
	</div>
	<form action="/user/create" method="post">
		<input name="authenticity_token" value="<%=form_authenticity_token%>" type = "hidden">
		<label for="first_name">First Name:</label><br>
		<input type="text" name="first_name" placeholder="Your First Name"><br>

		<label for="last_name">last Name:</label><br>
		<input type="text" name="last_name" placeholder="Your Last Name"><br>

		<label for="email_address">Email:</label><br>
		<input type="text" name="email_address" placeholder="Email Address"><br>
		
		<label for="password">password:</label><br>
		<input type="text" name="password" placeholder="password"><br><br>

		<input type="submit" value="Create"><br><br>
		<a class="submit" href="/user">Back</a>
	</form>
</div>
			
		




