// Place all the styles related to the words controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
 	margin:30px auto;
 	width: 400px;
 	text-align: center;

 }

 h1{
 	border:1px solid red;
 	border-radius:50px;
 	padding: 10px;
 }
 button{
 	color: red;
 	background-color: green;
 }
 h3{
 color:green;
 }
